<div>
    <div class="h4">&nbsp;Add New Actor</div>
</div>
<div class="modal-body">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}">

                <form class="form-horizontal" name="myForm">
                    <fieldset>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : myForm.uname.$invalid && !myForm.uname.$pristine }">
                            <label class="col-lg-2 control-label" for="aname">Actor Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="aname" id="aname" ng-model="actor.actname" placeholder="Actor Name" ng-required="true">
                                <span style="color: red" class="help-block" data-ng-show="myForm.aname.$invalid && !myForm.aname.$pristine">
                                    <span data-ng-show="myForm.aname.$error.required">This field is required!</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="sex">Gender</label>
                            <div class="col-lg-10">
                                <input type="radio" name="sex" value="Male" ng-model="actor.actsex" />Male
                                <input type="radio" name="sex" value="Female" ng-model="actor.actsex" />Female
                            </div>
                        </div>
                        <div class="form-group">
                            <lable class="col-lg-2 control-label" for="adob"><b>Date of Birth</b></lable>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" name="adob" id="adob" ng-model="actor.actdob" ng-required="true" />
                                <span style="color: red" class="help-block" data-ng-show="myForm.dob.$invalid && !myForm.dob.$pristine">
                                    <span data-ng-show="myForm.dob.$error.required">This field is required!</span>
                                </span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label" for="abio">Biodata</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="abio" id="abio" ng-model="actor.actbio" placeholder="Actor Biodata" ng-required="true">
                                <span style="color: red" class="help-block" data-ng-show="myForm.abio.$invalid && !myForm.abio.$pristine">
                                    <span data-ng-show="myForm.abio.$error.required">This field is required!</span>
                                </span>
                            </div>
                        </div>
                      </fieldset>
</form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-success" aria-hidden="true" ng-disabled="myForm.$invalid" ng-click="createactor();">Save</button>
</div>
