<div>
    <div class="h4">&nbsp;Add New Producer</div>
</div>
<div class="modal-body">
    <div cg-busy="{promise:myPromise,message:'Loading',backdrop:true}">

        <form class="form-horizontal" name="myForm">
            <fieldset>
                <div class="form-group has-feedback" ng-class="{ 'has-error' : myForm.uname.$invalid && !myForm.uname.$pristine }">
                    <label class="col-lg-2 control-label" for="pname">Producer Name</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="pname" id="pname" ng-model="producer.proname" placeholder="Producer Name" ng-required="true">
                        <span style="color: red" class="help-block" data-ng-show="myForm.pname.$invalid && !myForm.pname.$pristine">
                            <span data-ng-show="myForm.pname.$error.required">This field is required!</span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="sex">Gender</label>
                    <div class="col-lg-10">
                        <input type="radio" name="sex" value="Male" ng-model="producer.prosex" />Male
                        <input type="radio" name="sex" value="Female" ng-model="producer.prosex" />Female
                    </div>
                </div>
                <div class="form-group">
                    <lable class="col-lg-2 control-label" for="pdob"><b>Date of Birth</b></lable>
                    <div class="col-lg-10">
                        <input type="date" class="form-control" name="pdob" id="pdob" ng-model="producer.prodob" ng-required="true" />
                        <span style="color: red" class="help-block" data-ng-show="myForm.pdob.$invalid && !myForm.pdob.$pristine">
                            <span data-ng-show="myForm.pdob.$error.required">This field is required!</span>
                        </span>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="pbio">Biodata</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" name="pbio" id="pbio" ng-model="producer.probio" placeholder="Producer Biodata" ng-required="true">
                        <span style="color: red" class="help-block" data-ng-show="myForm.pbio.$invalid && !myForm.pbio.$pristine">
                            <span data-ng-show="myForm.pbio.$error.required">This field is required!</span>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="cancel('cancel')">Close</button>
    <button type="button" class="btn btn-success" aria-hidden="true" ng-disabled="myForm.$invalid" ng-click="createproducer();">Save</button>
</div>
